[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
black = "*"
python-dotenv = "*"
langchain-openai = "*"
langchain-community = "*"
langchain-ollama = "*"
chatollama = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.7"
